---
name: benchmark
on:
  push:
    branches:
      - main

  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  benchmark:
    name: run jmh benchmark
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
    - uses: actions/checkout@v6

    - name: set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: zulu

    - name: cache maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: run benchmark
      run: |
        mvn -DskipTests=true -Djmh.rf=json -Djmh.rff=target/jmh-result.json jmh:benchmark

    - name: download previous benchmark data
      uses: actions/cache@v4
      with:
        path: ./cache
        key: ${{ runner.os }}-benchmark

    - name: merge benchmark results
      run: |
        find . -type f -name "jmh-result.json" | xargs jq -s 'reduce .[] as $x ([]; . + $x)' > target/jmh-result.json

    - name: store benchmark result
      uses: benchmark-action/github-action-benchmark@v1
      with:
        name: jmh Benchmark
        tool: 'jmh'
        output-file-path: ./target/jmh-result.json
        external-data-json-path: ./cache/benchmark-data.json
        alert-threshold: '200%'
        comment-on-alert: true
        github-token: ${{ secrets.GITHUB_TOKEN }}
        fail-on-alert: true
        summary-always: true

    - name: update benchmark-data
      if: ${{ github.ref == 'refs/heads/main' }}
      run: |
        cp target/jmh-result.json ./cache/benchmark-data.json
